[Unit]
Description=Tensorboard 2.6 (by tor1.9 (conda env)) 

[Service]
Type=simple
#WorkingDirectory=/home/yp/workspace
ExecStart=/bin/bash /home/yp/workspace/hdd0/service/tfboard.sh
Restart=always
RestartSec=10
User=yp

[Install]
WantedBy=multi-user.target
